# ----------------------------------- #
# Build Files                         #
# ----------------------------------- #

# CMake
CMakeFiles

# Visual Studio
*.dir

# ----------------------------------- #
# Source Files                        #
# ----------------------------------- #

# Generated
generated/
